<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ustozlar</title>
</head>
<body>
    <h1>Ustozlar</h1>
    <br>
    <form>
        <input type="text" name="qidirish" placeholder="Ustoz ismi">
        <button>Qidirish</button>
    </form>
    <br>
    <br>
    {% for i in ust %}
    <h1>{{i}}</h1>
    <button><a href="/ustoz-t/{{i.id}}">Tahrirlash</a> </button>
    {% endfor %}
    <br>
    <br>
    <br>
    <form method="post" action="/ustoz-t/">{% csrf_token %}
        <input type="text" name="ismi" placeholder="Ustoz ismi">
        <input type="text" name="f" placeholder="Ustoz familiyasi">
        <input type="number" name="d" placeholder="Ustoz darajasi">
        <button type="submit">Qo'shish</button>
    </form>
    <br>
    <br>
</body>
</html>