<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yonalish</title>
</head>
<body>
    <h1>Yonalishlar</h1>
    <br>
    <form>
        <input type="text" name="qidirish" placeholder="Yonalish nomi">
        <button>Qidirish</button>
    </form>
    <br>
    {% for i in yonalish%}
    <h1>{{i}}</h1>
    <button><a href="/Yonalish/{{i.id}}"> Ochirish </a></button>
    {% endfor %}
    <br>
    <br>
    <form method="post" action="yonalish">{% csrf_token %}
        <input type="text" name="nomi" placeholder="Yonalish nomi">
        <input type="number" name="code" placeholder="Yonalish codi">
        <input type="date" name="s_d" placeholder="Start_Date">
        <input type="checkbox" name="i_a" placeholder="False">
        <button type="submit">Qo'shish</button>
    </form>
    <br>
    <br>
</body>
</html>